@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Creepster', cursive;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
